.nosotros {
    color: rgb(255, 255, 255) ;
    align-content: center ;
    text-align: center ;
    font-size: 100px ;
    background-color: #15192C ;
    font-family: "Bebas Neue", sans-serif;
    padding: 40px 0 0 0;
}
.contenido{
    background-image: url('./componentes/IMG/difuminado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    font-size: 20px;
    height: 1400px;
    width: 100%;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}